
.ex{
    background-color: aquamarine;
    color: blue;
    text-align: center;
 
}

.navbar{
   ul{ 

    color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    text-decoration: none;
   }
   
}