header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    margin: 0;
}
nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffcc00;
}

.Eabout{
    color: rgb(250, 3, 90);
    background-color: rgb(205, 248, 235);
}

.Eimg{
    align-items: center;
    margin-left: 30%;
}

.Ehead{
    color: rgb(21, 0, 255);
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    text-align: center;
}
footer .social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}
footer .social-icons a:hover {
    color: #ff6f61;
}
footer p {
    margin: 10px 0 0;
}
.elephant {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 5rem;
    opacity: 0.2;
}
.dark-mode {
    background-color: #1a1a1a;
    color: #ccc;
}